.btn-approve-red {
	background-color: #e30613cc !important;
	color: #fff !important;
	border: none !important;
	font-weight: 600;
	padding: 0.5rem 2rem;
	border-radius: 0.25rem;
	transition: background 0.2s;
}
.btn-approve-red:disabled {
	background-color: #e3061388 !important;
	opacity: 0.7;
}
.btn-approve-red:hover:not(:disabled) {
	background-color: #b8000acc !important;
}
