.bg-background-cl {
  background: #1a2744;
}

.sidebar-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  max-width: 200px;
}

.nav-link.active {
  font-weight: bold;
}
